.btn {
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.24);
  }
  